html,body{
    width: 100%;
    height: 100%;
}

header {
    padding-bottom: 20px;
}

body {
    border: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    width: 600px;
    height: auto;
    margin: auto;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
}

.screen {
    width: 100%;
    padding-top: 50px;
    border: 1px solid black;
}

.calculator {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.function{
    padding: 20px;
    font-size: 30px;
}

.button{
    padding: 20px;
    font-size: 30px;
}

.number{
    background: lightblue;
    padding: 20px;
    font-size: 30px;
}

#plus{
    grid-column-start: 3;
    grid-column-end: 5;
}

#equal{
    grid-column-start: 3;
    grid-column-end: 5;
}

#answer{
    grid-column-start: 1;
    grid-column-end: 3;
}

#LastAnswer {
    text-align: right;
    width: 100%;
    font-size: 200%;
    margin: auto;
}

#currentAnswer {
    border: 1px solid black;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 50px;
    margin: 0% 0% 0% 2%;
    font-size: 200%;
    width: 100%;
}
@media only screen and (max-width:600px){
    body{
        width:auto;
        margin:0;
    }
}